*{
    font-family: 'Libre Baskerville', serif;
}
body{
    /* background-image: url(2639085-landscape-4k-wallpaper-for-desktop-background-free-download.jpg); */
    /* background-size: cover;
    background-repeat: no-repeat; */
}
h1{
    text-align: center;
    font-size: 40px !important;
    margin-bottom: 35px !important; 
}
.msgbox1{
    position: absolute;
    left: 100px;
    border: 4px solid black;
    width: 500px;
    height: 500px;
}
.msgbox2{
    position: absolute;
    left: 750px;
    border: 4px solid black;
    width: 500px;
    height: 500px;
}
.msgdisplay1{
    position: absolute;
    border: 2px solid black;
    width: 450px;
    height: 370px;
    left: 20px;
    top: 25px;
}
.msgwrite1{
    position: absolute;
    /* border: 4px solid rgb(184, 247, 36); */
    width: 350px;
    height: 50px;
    left: 20px;
    top: 420px;
}
.send{
    position: absolute;
    left: 385px;
    /* top: 0px; */
    padding: 15px;
}
#rare1{
    width: 342px;
    height: 42px;
}
#rare2{
    width: 342px;
    height: 42px;
}
.mws1{
    border: 5px solid black;
    width: 237px;
    height: 90px;
    position: absolute;
    left: 204px;
}
.mws2{
    border: 5px solid black;
    width: 237px;    
    height: 90px;
}
#msgwriteshow2{
    /* border: 5px solid blue; */
    width: 199px;
    height: 90px;
}
#msgwriteshow4{
    /* border: 5px solid blue; */
    width: 199px;
    height: 90px;
}
#left1{
    width: 210px;
    height: 360px;
    position: absolute;
    text-align: left;
    left: 10px;
    font-size: 21px;
    overflow: auto;
}
#left2{
    width: 210px;
    height: 360px;
    position: absolute;
    text-align: left;
    left: 10px;
    font-size: 21px;
    overflow: auto;
}
#right1{
    width: 225px;
    height: 360px;
    position: absolute;
    left: 215px;
    text-align: right;
    font-size: 21px;
    overflow: auto; 
}
#right2{
    width: 225px;
    height: 360px;
    position: absolute;
    left: 215px;
    text-align: right;
    font-size: 21px;
    overflow: auto; 
}
#user2{
    margin-left: 325px;
    margin-bottom: 15px;
}
#user1{
    margin-left: 240px;
}
::-webkit-scrollbar {
    display: none;
}